@model MusicStorePractice.Models.ViewModels.ShoppingCartViewModel

<h2>Shopping Cart</h2>

<table class="table">
    <thead>
        <tr>
            <th>Album</th>
            <th>Artist</th>
            <th>Price</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Albums)
        {
            <tr>
                <td>
                    <a asp-controller="Store" asp-action="Details" asp-route-id="@item.AlbumID">@item.Title</a>
                </td>
                <td>@item.Artist.Name</td>
                <td>@item.Price</td>
                <td>
                    <a asp-controller="ShoppingCart" asp-action="RemoveFromCart" 
                    >Remove from cart</a>
                </td>
            </tr>
        }
    </tbody>
</table>