@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Albums Index";
}
<h2>@ViewData["Title"]</h2>
<h4>Albums Index</h4>